
    <div class="modal-content">
      <div class="modal-header" *ngIf="data">
        <h5 class="modal-title" id="exampleModalLabel">{{data.nombre}}</h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
            <div class="col" id="mapa-mapbox"></div>
         </div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div>





