

#principal{
    margin-top: 6em;
}

.mat-prefix{
    padding-left: 1em;
    color: gray;
}

.login{
    background-color: white;
    border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
-webkit-border-radius: 6px 6px 6px 6px;
border: 0px solid #000000;
}

.mat-form-field-underline{
    bottom: 0px!important;
}

.mat-form-field-wrapper{
    padding-bottom: 0px!important;
}

mat-form-field{
    width: 100%!important;
}