<div id="principal" class="row justify-content-center">
 <div class="col-10 col-md-5 col-lg-3 text-center">
     <div class="row justify-content-center">
         <div class="col-7">
            <img src="assets/img/logo.png" class="img-fluid" alt="Churrasco">
           
         </div>
         <div class="col-9 col-md-8 mt-2">
        <div class="login">
          <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <span matPrefix class="mat-prefix">  <i class="fas fa-user"></i> &nbsp;</span>
            <input type="text" matInput placeholder="Username" [(ngModel)]="user.email">
            
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <span matPrefix class="mat-prefix">  <i class="fas fa-lock"></i> &nbsp;</span>
            <input type="password" matInput placeholder="Password" [(ngModel)]="user.password">
            
          </mat-form-field>
        </div>
        <div class="row mt-2">
          <div class="col-5 text-left" >
            <div style="font-size: small;color: white;" class="pt-1">
              <input type="checkbox" class="mr-1">remember
            </div>
            
          </div>
          <div class="col-7 text-right">
            <button mat-raised-button style="background-color: #3c357a; color: white;" (click)="login()">Log in</button>
          </div>
         
        </div>  
        
           
         </div>
         
     </div>
    
 </div>
</div>