/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100%;
    background-color: rgba(43,37,87,1);
}
body{
    width: 100%;
    height: 100%;
}