<div class="container" *ngIf="sites">
    <div class="row mt-2">
        <div class="col-10" style="color:white">
            <h2>Hey Welcome to Churrasco Travel <i class="fas fa-plane-departure"></i></h2>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 text-center" style="color:white">
            <h3>Sites <i class="fas fa-plane-departure"></i></h3>
            <hr>
        </div>
        
        <div class="col-12 col-md-4" *ngFor="let site of getPrincipales()">
            
                <div class="card mt-3 hvr-float" style="height: 95%;">
                    <div style="position:relative;">
                        <img class="img-fluid w-100 " [src]="site.url_imagen" onerror="this.src='assets/img/logo.png';" >
                        <div class="w-100 text-center" style="position: absolute;bottom: 0px;" *ngIf="site.ubicacion._lat && site.ubicacion._long">
                            <button mat-raised-button color="primary" class="mb-2" (click)="openDialog(site)"><i class="fas fa-map-marked-alt"></i></button>
                        </div>
                    </div>
                   
                    <div class="card-body text-center" >
                       
                      <h5 class="card-title">{{site.nombre}}</h5>
                      <p class="card-text">{{site.descripcion}}</p>                      
                    </div>
                  
            </div>
           
        </div>
    </div>
   <div class="row mt-4">
    <div class="col-12 text-center" style="color:white">
        <h3> Other Sites <i class="fas fa-plane-departure"></i></h3>
        <hr>
    </div>
    <owl-carousel-o [options]="customOptions" class="w-100">
        <ng-template carouselSlide *ngFor="let site of getSecundarias()">
            <div class="slide"><div class="card mt-3 " style="height: 95%;">
                        <div  style="position:relative;">
                            
                            <img class="img-fluid" [src]="site.url_imagen"  style="height: 150px;" onerror="this.src='assets/img/logo.png';" >                            
                            <div style="position: absolute;bottom: 0px; background-color: rgba(0,0,0,0.7);" class="w-100 h-100" >
                                
                                
                                <div class="pt-1 pl-1 pr-1 text-center " > 
                                    <h5 class="card-title" style="color: white;">{{site.nombre}}</h5>                                     
                                </div>                                         
                                <div class="text-center w-100" style="position: absolute;bottom: 0px;">
                                    <button mat-raised-button color="primary" class="mb-2" (click)="openDialog(site)" *ngIf="site.ubicacion._lat && site.ubicacion._long"><i class="fas fa-map-marked-alt"></i></button>
                                </div>                                   
                              </div>

                             
                        </div>                       
                       
                      
                </div>
               
            
            </div>
        </ng-template>
     
    </owl-carousel-o>
   </div>
</div>
